.serviceBox {
  border-radius: 50px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.allServices {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

a.services {
  width: auto;
  margin: 1rem 0;
}

.imgBox {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  overflow: hidden;
  border: #7f7b6d solid 5px;
  box-shadow: 0 0 10px #7f7b6d;
  animation: breathing 3s linear infinite;
}

img {
  width: 20vh;
  height: 20vh;
  border-radius: "50%";
}

.grid-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 80vw;
}

img.avatar:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

@keyframes breathe {
  0% {
    box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.3);
  }
  40% {
    box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.5);
  }
  80% {
    box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.3);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.3);
  }
}
video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

svg.icon {
  z-index: 0;
}

.videoBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.soundControl {
  width: 5rem;
  height: 5rem;
  position: fixed;
  background: none;
  border: none;
  bottom: 1rem;
  right: 1rem;
}

.soundImg {
  width: 5rem;
  height: 5rem;
  background: none;
  border: none;
  animation: spin 2s linear infinite;
}

.videoBg.fade-out {
  /* Transition for the videoBg element during fade-out */
  transition: opacity 2s ease-in-out;
}

.info-panel {
  background-color: #ffffff18;
  overflow-y: scroll; /* Enable vertical scrolling */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  max-height: 1000px;
  max-width: 100%;

  /* Scrollbar styling */
  scrollbar-width: thin;
  scrollbar-color: #ef900c #ffffff3e;

  /* Webkit scrollbar styling */
  scrollbar-width: thin;
  scrollbar-color: #ef900c #ffffff3e;

  /* Firefox scrollbar styling */
  scrollbar-width: thin;
  scrollbar-color: #ef900c #ffffff3e;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.soundImg.paused {
  animation-play-state: paused;
}

@media screen and (max-width: 650px) {
  .soundControl {
    width: 1rem;
    height: 1rem;
    position: fixed;
    background: none;
    border: none;
    bottom: 4.5rem;
    right: 4.5rem;
  }
  .serviceBox {
    width: 60%;
    margin: 0 auto;
  }

  .videoBg {
    max-width: 70%;
    margin: 0 auto;
  }
  .videoBg svg {
    width: 8%;
  }

  .postCard {
    padding: 12px; /* Reduce padding on small screens */
  }

  .category-badge {
    font-size: 12px; /* Reduce the badge size on small screens */
  }
}


.middle-content {
  min-width: 35%;
}

.postCard {
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Ensure content is stacked vertically */
  background-color: #f8f9fa; /* Light background for the card */
  border-bottom: 1px solid #dee2e6; /* Border to separate cards */
  width: 100%; /* Full width by default */
  max-width: 600px; /* Limit max width on large screens */
  margin: 0 auto; /* Center the card */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  padding: 16px; /* Padding inside the card */
  border-radius: 10px; /* Add border radius for smoother edges */
}

.thumbnailContainer {
  position: relative;
}

.thumbnailImg {
  width: 100%;
  height: 30vh;
  border-radius: 10px;
  object-fit: cover;
}


.post-container {
  display: flex;
  flex-direction: column;
}

.tagsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.category-badge {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}

.card {
  background-color: #37352f;
  border-radius: 10px;
  width: 35rem;
  display: flex;
  flex-direction: column;
}

.badge {
  background-color: #666666b9;
  color: #aeaeae;
  padding: 0.5rem;
}

.tagButton {
  background-color: #f0ad4e;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin: 1rem 0 1rem 1rem;
  width: 5em;
  transition: all 0.3s;
  color: white;
  box-shadow: 4px -1px 19px -4px rgba(240, 173, 78, 0.63);
}

.tagButton:hover {
  background-color: #ef900c;
}

.searchInput {
  flex: 1; /* Flex-grow: 1 to take the remaining space */
  padding: 10px;
  border-radius: 5px; 
  border: #cecece solid 1px;
}

.searchInput:focus {
  outline: none;
  border: #ef900c solid 1px;
  box-shadow: 0 0 10px #ef900c;
}

.searchInput::placeholder {
  color: #ef900c;
}

.selectTags {
  flex: 0 0 40%; /* Flex-grow: 0, Flex-shrink: 0, Flex-basis: 40% */
  padding: 8px; /* Add some padding for a better look */
  margin-right: 10px; /* Optional: Add some space between the select and input */
}

.tagsAndSearchContainer {
  display: flex; /* Flexbox layout */
  align-items: center; /* Vertically align items */
  justify-content: flex-start; /* Align items to the left */
  gap: 10px; /* Add spacing between select and input */
  width: 100%; /* Ensure full width */
}

.fade-in {
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}

.fade-in.active {
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ease-in-message {
  transition: opacity 1.3s ease-in; /* Adjust timing as needed */
  opacity: 0; /* Start with hidden */
}

.visible {
  opacity: 1; /* Fully visible */
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ef900c;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: #fff;
  transform: rotate(0deg) translate(30px);
  animation: rotate 1s ease infinite;
}
.loader:after {
  animation-delay: 0.5s;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg) translate(30px);
  }
}

.selectTags {
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.5rem;
  width: 100%;
  border: #cecece solid 1px;
}

.selectTags option:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.selectTags:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.selectTags:focus {
  outline: none;
  border: #ef900c solid 1px;
  box-shadow: 0 0 10px #ef900c;
}
