.serviceBox {
    background-color: rgba(0, 0, 0, 0.378);
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }

  a.services {
    width:auto;
    margin:1rem 0;
  }
  
  .imgBox {
    width:20vh;
    height: 20vh;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border:#7f7b6d solid 5px;
    box-shadow: 0 0 10px #7f7b6d;
    animation: breathing 3s linear infinite;
  }
  
  img {
    width: 20vh;
    height: 20vh;
    border-radius: "50%";
  }
  
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 80vw;
  }
  
  img:hover {
    transform: scale(1.2);
  }
  
  @keyframes breathe {
    0% {
     box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.3)
    }
    40% {
     box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.5)
    }
    80% {
     box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.3)
    }
    100% {
     box-shadow: 0 0 0 15px rgba(188, 237, 243, 0.3)
    }
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index:-1;
  }
  
  svg.icon {
    z-index:0;
  }
  
  .videoBg {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  svg {
    position:relative;
    z-index: 10;
    animation: easeInFromTop 2s ease-in-out;
  }
  
  @keyframes easeInFromTop {
    0% {
      opacity: 0;
      transform: translateY(-500%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .soundControl {
    width: 5rem;
    height: 5rem;
    position: fixed;
    background:none;
    border:none;
    bottom:1rem;
    right:1rem;
  }
  
  .soundImg {
    width: 5rem;
    height: 5rem;
    background: none;
    border: none;
    animation: spin 2s linear infinite;
  }
  
  .videoBg.fade-out {
    /* Transition for the videoBg element during fade-out */
    transition: opacity 1s ease-in-out;
  }
  
  .videoBg.fade-out.animation-disabled {
    /* Disable transition during animation */
    transition: none;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .soundImg.paused {
    animation-play-state: paused;
  }

@media screen and (max-width: 768px) {
  .soundControl {
    width: 1rem;
    height: 1rem;
    position: fixed;
    background:none;
    border:none;
    bottom:4.5rem;
    right:4.5rem;
  }

  .serviceBox {
    width: 60%;
    margin: 0 auto;
  }
}